.box {
    height: 1500px;
    width: 1510px;
    background-color: whitesmoke;
}
.image img{
    height: 525px;
    width: 1433px;
    margin-top: 84px;
    margin-left: 39px;
}
.box1{
    height: 251px;
    width: 267px;
    background-color: white;
    margin-top: 286px;
    margin-left: 170px;
    border-radius: 22px;
    float: left;
    padding: 0px

    
}
.image1 img{
    height: 195px;
    width: 266px;
    margin-top: -25px;
    float: left;
    border-radius: 24px;
}

.box2{
    height: 251px;
    width: 267px;
    background-color: white;
    margin-top: 286px;
    margin-left: 29px;
    border-radius: 22px;
    float: left;
}
.image2 img{
    height: 195px;
    width: 266px;
    margin-top: -25px;
    float: left;
    border-radius: 24px;
}
.box3{
    height: 251px;
    width: 267px;
    background-color: white;
    margin-top: 286px;
    margin-left: 29px;
    border-radius: 22px;
    float: left;
}
.box4{
    height: 251px;
    width: 267px;
    background-color: white;
    margin-top: 286px;
    margin-left: 29px;
    border-radius: 22px;
    float: left;
}
.image1 h6{
    margin-left: 74px;
    margin-top: 17px;
    font-size: x-large;
} 
.image2 h6{
    margin-left: 74px;
    margin-top: 17px;
    font-size: x-large;
}
.image p{
    margin-top: -421px;
    margin-left: 589px;
    font-size: 100;
    color: white;
    font-style: normal;
    font-weight: bold;
}
.image h3{
    margin-top: -119px;
    margin-left: 462px;
    font-size: 31px;
    color: white
}
.image3 img{
    height: 195px;
    width: 266px;
    margin-top: -25px;
    float: left;
    border-radius: 24px;

}
.image4 img{
    height: 195px;
    width: 266px;
    margin-top: -25px;
    float: left;
    border-radius: 24px;
}
.image3 h6{
    margin-left: 55px;
    margin-top: 25px;
    font-size: x-large;
}
.image4 h6{
    margin-left: 55px;
    margin-top: 25px;
    font-size: x-large;
}
.image h2{
    margin-left: 63px;
    margin-top: -279px;
    font-size: x-large;
    font-style: normal;
    color: white;
}
.image h4{
    margin-left: 1288px;
    margin-top: -84px;
    font-size: x-large;
    font-style: normal;
    color: white;
}
.image h5{
    margin-left: 1376px;
    margin-top: -57px;
    font-size: x-large;
    font-style: normal;
    color: white;
}
.image h6{
    margin-left: 1090px;
    margin-top: -43px;
    font-size: x-large;
    font-style: normal;
    color: white;
}
.image button{
    height: 54px;
    width: 517px;
    background-color: white;
    margin-top: 180px;
    margin-left: 509px;
    border-radius: 22px;
    font-size: x-large;
    text-align:center;
}
.nav i{
    margin-top: 0px;
    margin-left: 0px; 
}